RewriteEngine On

# Block HEAD, OPTIONS, TRACE, and CONNECT requests
RewriteCond %{REQUEST_METHOD} ^(HEAD|TRACE|CONNECT)$ [NC]
RewriteRule ^ - [F]

<IfModule mod_headers.c>
   SetEnvIf Origin "http(s)?://(www\.)?(backtestfx\.test:5533|dev\.backtestfx\.com)$" AccessControlAllowOrigin=$0
   Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e
   Header always set Access-Control-Allow-Credentials "true"
   Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Range, Content-Disposition, Content-Type, Accept, Authorization"
   Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
</IfModule>

Options -Indexes
<FilesMatch "^\.|\/\.">
    Require all denied
</FilesMatch>

RewriteCond %{REQUEST_URI} ^/public/.*\.(html|png|jpg|ico|woff2|ico|webp|gif|jpeg|zip|css|svg|js|json|pdf)$ [NC]
RewriteRule ^ - [L]

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

#RewriteCond %{REQUEST_URI}  !^/public/.*\.(html|png|jpg|ico|woff2|ico|webp|gif|jpeg|zip|css|svg|js|json|pdf)$ [NC]
RewriteRule (.*) server.php [QSA,L]