RewriteEngine On

<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "https://dev.backtestfx.com, http://backtestfx.test:5553"
    Header always set Access-Control-Allow-Credentials "true"
    Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Range, Content-Disposition, Content-Type, Accept, Authorization"
    Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
</IfModule>

Options -Indexes
<FilesMatch "^\.|\/\.">
    Require all denied
</FilesMatch>

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteCond %{REQUEST_URI}  !(\.html|\.png|\.jpg|\.ico|\.woff2|\.ico|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf)$
RewriteRule (.*) server.php [QSA,L]